body {
    margin: 50px auto;
    width: 70%;
    color: black;
    font-family:'Times New Roman';
}

a:hover{
    color: lightblue;
}

a{
    text-decoration: none;
    color: blue;
}

.top_button{
    font-weight: bolder;
    font-style: normal;
    font-family: 'Arial Black';
}

.profile_block img {
    width: 350px;
    height: auto;
    float: left;
    margin-right: 1.5em;
}

.profile {
  margin: 1em;
  font-size: 20px;
}

.project {
  margin: 0.75em;
}

.project_title {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  font-style: normal;
}

.project_subtitle {
    margin: 2em;
    color: gray;
    font-size: 14px;
}

.project_intro {
    color: black;
}

.pub {
    margin: 0.75em;
}

.pub_title {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}

.pub_member {
    color: black;
    font-size: 14px;
}

.pub_conf {
    color: deeppink;
    font-size: 18;
    font-style: italic;
}

.education {
  margin: 1em;
}

.education_term {
  color: black;
  font-weight: bold;
  font-size: 17px;
  font-style:italic;
  margin-right: 5em;
}

.cv_exp {
    width: 100%;
    max-width: 800px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    margin-right: auto;
    margin-left: 10px;
}

.cv_list {
    font-size: large;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

h1, h2, h3 {
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
