/* global config */

body {
    margin: 50px auto;
    width: 70%;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover {
    color: lightblue;
}

a {
    text-decoration: none;
    color: blue;
}

.main_box {
    width: 60em;
}

h1,
h2,
h3 {
    color: black;
}

/* nav */

.top_button {
    font-weight: bolder;
    font-style: normal;
    font-family: 'Helvetica Neue';
    font-size: 22px;
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

/* home */

h1 { /* a.k.a Your name in the index page. */
    font-size: 40px;
}

.profile_block img {
    width: auto;
    height: auto;
}

.profile {
    margin: 0.5em;
    font-size: 18px;
}

.research {
    margin: 0.5em;
    font-size: 18px;
}

.research li {
    margin-top: 0.3em;
}

.news {
    margin: 0.5em;
    font-size: 16px;
}

.news li {
    margin-top: 0.3em;
}

.pub {
    margin: 0.75em;
}

.pub_title {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}

.pub_member {
    color: black;
    font-size: 16px;
}

.pub_member_me {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

.pub_conf {
    color: deeppink;
    font-size: 16;
    font-style: italic;
}

.contact {
    margin: 0.5em;
    font-size: 16px;
}

.misc {
    margin: 0.5em;
    font-size: 16px;
}

/* projects */

.project {
    margin: 0.75em;
}

.project_title {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}

.project_subtitle {
    margin: 2em;
    color: gray;
    font-size: 14px;
}

.project_intro {
    color: black;
}

/* cv */

.education {
    margin: 1em;
}

.education_term {
    color: black;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    margin-right: 5em;
}

.cv_exp {
    width: 100%;
    max-width: 800px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    margin-right: auto;
    margin-left: 10px;
}

.cv_exp_intro_td {
    padding: 5px;
    width: 100%;
}

.cv_exp_intro_td.div { /* Time */
    font-size: 16px;
}

.cv_exp_intro_td.p { /* Intro */
    font-size: 16px;
}

.cv_exp_intro {
    font-size: 16px;
}

.cv_exp_logo_td {
    padding: 5px;
    width: 25%;
}

.cv_exp_title {
    font-size: 18px;
}

.cv_exp_title_gray {
    font-size: 18px;
    color: gray;
}

.cv_exp_logo {
    width: 180px;
}

.cv_list {
    font-size: 16px;
}


/* footer */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
